*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 .navigate {
 background-color: rgb(4, 4, 48);
 color: white;
 }

 .navigate ul li {
    display: inline-block; 
    margin: 17px;
    color: white;
 }

 .option-icon {
    display: none;
 }

 a {
    text-decoration: none;
    color: white;
}

.about {
    margin: 20px;
}

.about h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px;
}

a:hover {
    color: blue;
    transition: 0.5s;
}

.aids {
    color: white;
   
}

.aids h3 {
    margin-bottom: 40px;
    text-align: center;
}

.about p {
    font-size: 20px;
}

.aids div{
    border: 1px solid rgb(58, 58, 156);
    padding: 30px;
    border-radius: 30px;
    background-color:  rgb(58, 58, 156);
    margin: 20px;
}

.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover{
    color:rgb(163, 231, 234);
}

.div1 {
    display: inline-block;
    box-shadow: 15px 5px 6px 6px;
}

.div2 {
    display: inline-block;
    box-shadow: 15px 5px 6px 6px;
}
.div3 {
    display: inline-block; 
    box-shadow: 15px 5px 6px 6px;
}
.div4 {
    display: inline-block; 
    box-shadow: 15px 5px 6px 6px;
}
.div5 {
    display: inline-block; 
    box-shadow: 15px 5px 6px 6px;
}

/* testimonials */

.testimonials {
    margin-top: 20px;
    color: white;
    background-color: rgb(58, 58, 156);
    padding: 15px;
}

.testimonials h2 {
    text-align: center;
    font-size: 40px;
}

/* footer */

footer {
    background-color: rgb(4, 4, 48);
    color: white;
    width: 100%;
}

.logo {
    text-align: center;
}

.logo h2{
    padding-top: 30px;
}

.logo img {
    margin-top: 30px;
    display: inline-block;
    margin-right: 20px;
}

.logo p {
    margin-top: 30px;
    display: inline-block;
}

@media (max-width:426px) {

    * {
        margin: 0;
    }

    body {
        margin-left: auto;
        margin-right: auto;
    }

   .navigate {
    display: none;
   }

   .option-icon {
    display: inline-block;
    margin-left: 330px;
   }
}